{% extends 'base.html.twig' %}

{% block title %}new address{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="h5 fw-bold m-0">{{ 'new-address'|trans }}</div>
                    </div>
                    <div class="card-body">
                        {{ include('address/partial/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

